html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#content .maps{
  padding: 20px;
  text-align: center;
}
#map {
    float:left;
    margin: 10px;       
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}


.yes{
  background-color:#003762 !important;
  padding:8px 14px;
  color:white;
  border:1px solid #003762;
  border-radius:2px;
  text-align: center;
  font-size:14px;
  vertical-align: middle;
  line-height: 1.42;
  display: inline-block;
}

.no{
  background-color: #940E19 !important;
  padding:8px 14px;
  color:white;
  border-radius:2px;
  border:1px solid #940E19;
  text-align: center;
  font-size:14px;
  vertical-align: middle;
  line-height: 1.42;
  display: inline-block;
}

.def{
  padding:8px 14px;
  border-radius:2px;
  text-align: center;
  font-size:14px;
  vertical-align: middle;
  line-height: 1.42;
  display: inline-block;
}